.main{
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(149, 149, 254);
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.card_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  padding: 0.31em;
  cursor: pointer;
  background-color: burlywood;
  border: none;
  color: white;
  font-size: larger;
}

.textarea{
  padding: 3px;
  border: none;
  border-radius: 3px;
  outline: none;
}
.checkbox{
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
}
.input{
  padding: 3px;
  outline: none;
  border-radius: 3px;
  border: none;
}
.radio{
  cursor: pointer;
  padding: 0.3em;
}
.btn:hover {
  transform: scale(1.2); /* Increase the size of the icon on hover */
}
.icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2); /* Increase the size of the icon on hover */
}